.nav {
  position: fixed;
  width: 100%; /* fixed는 다른 element들로 부터 떼어내는 것이므로 width 설정 필수 */
  background-color: #fcfcfc;
  padding: 20px 50px;
  bottom: 0px; /*바닥에 붙힘*/
  left: 0px;
  border-top: 1px solid #f7f7f7;
  box-sizing: border-box;
}
.nav__list {
  display: flex;
  justify-content: space-between;
}
.nav i {
  font-size: 20px;
}

.nav .nav__list-link {
  position: relative;
}

.nav .nav__badge {
  position: absolute;
  top: -7px;
  right: -7px;
  color: white;
  background-color: #dc5d46;
  width: 18px;
  height: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 10px;
}

@keyframes showNavbar {
  from {
    transform: translateY(80px);
  }
  to {
    transform: none;
  }
}

.nav {
  transform: translateY(80px);
  animation: showNavbar 0.5s ease-out forwards;
  animation-delay: 0.3s; /*main이 다 로딩되면 nav가 로딩되는거처럼 보이게*/
}
