@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600&display=swap");
@import "reset.css";
@import "status-bar.css";
@import "header.css";
@import "nav-bar.css";
@import "friend.css";
* {
  box-sizing: border-box;
  /*box size안에 padding을 추가해도 box size가 바뀌지않게 해줌*/
  /*즉 padding때문에 content가 잘리지 않게해줌*/
}
body {
  background-color: white;
  padding: 10px 20px;
  color: #020202;
  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

a {
  color: inherit; /* 부모로 부터 색을 상속받음 */
  text-decoration: none;
}
